@import url(https://fonts.googleapis.com/css?family=Reem+Kufi:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 5.2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.32rem;
}
.display-2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.16rem;
    font-size: calc( 2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #b69b74 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #ff3366 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b69b74 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before,
.btn-primary-outline.active:before {
  transform: scaleX(1);
}
.btn-primary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #149dcc;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before,
.btn-secondary-outline.active:before {
  transform: scaleX(1);
}
.btn-secondary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #149dcc;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff3366;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before,
.btn-info-outline.active:before {
  transform: scaleX(1);
}
.btn-info-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3366;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f7ed4a;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before,
.btn-success-outline.active:before {
  transform: scaleX(1);
}
.btn-success-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7ed4a;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #879a9f;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before,
.btn-warning-outline.active:before {
  transform: scaleX(1);
}
.btn-warning-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #879a9f;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before,
.btn-danger-outline.active:before {
  transform: scaleX(1);
}
.btn-danger-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before,
.btn-black-outline.active:before {
  transform: scaleX(1);
}
.btn-black-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #b69b74 !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #ff3366 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b69b74 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #816843 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cc0033 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #816843 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff3366;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b69b74;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b69b74;
  border-color: #b69b74;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b69b74;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2d7c8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e2d7c8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #b69b74;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b69b74;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b69b74;
  border-bottom-color: #b69b74;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b69b74 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b69b74' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rArXDGngPj .navbar {
  padding: .5rem 0;
  background: #f9f295;
  transition: none;
  min-height: 100px;
}
.cid-rArXDGngPj .navbar-dropdown.bg-color.transparent.opened {
  background: #f9f295;
}
.cid-rArXDGngPj a {
  font-style: normal;
}
.cid-rArXDGngPj a .link:hover {
  color: inherit!important;
}
.cid-rArXDGngPj .dropdown-item:active {
  background: #f9f295;
}
.cid-rArXDGngPj .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rArXDGngPj .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0 !important;
  margin: 0.5rem 1.4rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rArXDGngPj .nav-item:focus,
.cid-rArXDGngPj .nav-link:focus {
  outline: none;
}
.cid-rArXDGngPj .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rArXDGngPj .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rArXDGngPj .menu-logo {
  margin-right: auto;
}
.cid-rArXDGngPj .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rArXDGngPj .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rArXDGngPj .dropdown .dropdown-menu {
  background: #f9f295;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rArXDGngPj .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rArXDGngPj .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rArXDGngPj .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rArXDGngPj .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rArXDGngPj .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rArXDGngPj button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.8rem;
  right: 1rem;
}
.cid-rArXDGngPj button.navbar-toggler:focus {
  outline: none;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b69b74;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rArXDGngPj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rArXDGngPj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArXDGngPj .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArXDGngPj .collapsed .btn {
  display: -webkit-flex;
}
.cid-rArXDGngPj .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing,
.cid-rArXDGngPj .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rArXDGngPj .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rArXDGngPj .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rArXDGngPj .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rArXDGngPj .collapsed button.navbar-toggler {
  display: block;
}
.cid-rArXDGngPj .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rArXDGngPj .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rArXDGngPj .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rArXDGngPj .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rArXDGngPj .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArXDGngPj img {
    height: 3.8rem !important;
  }
  .cid-rArXDGngPj .btn {
    display: -webkit-flex;
  }
  .cid-rArXDGngPj button.navbar-toggler {
    display: block;
  }
  .cid-rArXDGngPj .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rArXDGngPj .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArXDGngPj .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing,
  .cid-rArXDGngPj .navbar-collapse.show {
    display: block !important;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-nav,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-buttons,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rArXDGngPj .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rArXDGngPj .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rArXDGngPj .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rArXDGngPj .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rArXDGngPj .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rArXDGngPj .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rArXDGngPj .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rArXDGngPj .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rArXDGngPj .nav-link,
.cid-rArXDGngPj .dropdown-item {
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.cid-rArXDGngPj .nav-link:hover,
.cid-rArXDGngPj .dropdown-item:hover {
  color: #343434 !important;
  border-color: #b69b74;
}
.cid-rArXEdIV84 {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/94274948-2830961850290477-6182108451926179840-o-2000x1500.jpeg");
}
.cid-rZwRZSVE4H {
  padding-top: 60px;
  padding-bottom: 135px;
  background-color: #f1eeea;
}
.cid-rZwRZSVE4H .container-fluid {
  position: relative;
  padding-right: 10.4rem;
}
.cid-rZwRZSVE4H .wrapper {
  position: relative;
}
.cid-rZwRZSVE4H .content {
  padding-left: 6rem;
  padding-right: 2rem;
}
.cid-rZwRZSVE4H .img1 {
  width: 100%;
  padding-right: 6rem;
  object-fit: cover;
  height: 800px;
}
.cid-rZwRZSVE4H .mbr-iconfont {
  font-size: 1.8rem;
  color: #232323;
}
.cid-rZwRZSVE4H .mbr-iconfont:hover {
  cursor: pointer;
}
.cid-rZwRZSVE4H .icon1 {
  position: absolute;
  top: 2rem;
  right: 0rem;
}
.cid-rZwRZSVE4H .icon2 {
  position: absolute;
  top: 5rem;
  right: 0rem;
}
.cid-rZwRZSVE4H .img2 {
  position: absolute;
  bottom: -4.6rem;
  right: 0;
  width: 400px;
  box-shadow: 2.5px 4.3px 62px 0 rgba(0, 0, 0, 0.22);
}
.cid-rZwRZSVE4H .title {
  position: absolute;
  right: 0rem;
  transform: rotate(90deg);
  transform-origin: top right;
  top: 26rem;
  padding: 0;
}
.cid-rZwRZSVE4H .title:before {
  content: '';
  position: absolute;
  background: currentColor;
  top: 50%;
  left: -8.6rem;
  width: 100px;
  height: 2px;
}
@media (max-width: 1400px) {
  .cid-rZwRZSVE4H .img2 {
    width: 400px;
  }
  .cid-rZwRZSVE4H .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cid-rZwRZSVE4H .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-rZwRZSVE4H .img2 {
    width: 400px;
  }
  .cid-rZwRZSVE4H .img1 {
    padding-right: 4rem;
  }
  .cid-rZwRZSVE4H .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-rZwRZSVE4H .img1 {
    height: 600px;
    padding-right: 3rem;
  }
  .cid-rZwRZSVE4H .img2 {
    width: 200px;
  }
  .cid-rZwRZSVE4H .container-fluid {
    padding: 0 1rem;
  }
  .cid-rZwRZSVE4H .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.cid-rZwQujG7QA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #767676;
}
.cid-rZwQujG7QA .content-slider {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rZwQujG7QA .modal-body .close {
  background: #1b1b1b;
}
.cid-rZwQujG7QA .modal-body .close span {
  font-style: normal;
}
.cid-rZwQujG7QA .carousel-inner > .active,
.cid-rZwQujG7QA .carousel-inner > .next,
.cid-rZwQujG7QA .carousel-inner > .prev {
  display: -webkit-flex;
}
.cid-rZwQujG7QA .carousel-control .icon-next,
.cid-rZwQujG7QA .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rZwQujG7QA .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rZwQujG7QA .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-rZwQujG7QA .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-rZwQujG7QA .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rZwQujG7QA .boxed-slider > div {
  position: relative;
}
.cid-rZwQujG7QA .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rZwQujG7QA .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rZwQujG7QA .mbr-table-cell {
  padding: 0;
}
.cid-rZwQujG7QA .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rZwQujG7QA .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-rZwQujG7QA .mbr-overlay {
  z-index: 1;
  pointer-events: none;
}
.cid-rZwQujG7QA .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rZwQujG7QA .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 767px) {
  .cid-rZwQujG7QA .carousel-item .container {
    width: 100%;
  }
}
.cid-rZwQujG7QA .carousel-item-next.carousel-item-left,
.cid-rZwQujG7QA .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rZwQujG7QA .active.carousel-item-right,
.cid-rZwQujG7QA .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rZwQujG7QA .active.carousel-item-left,
.cid-rZwQujG7QA .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rZwQujG7QA .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rZwQujG7QA .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rZwQujG7QA .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rZwQujG7QA .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .cid-rZwQujG7QA .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-rZwQujG7QA .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-rZwQujG7QA .mbr-slider .carousel-indicators li {
  max-width: 19px;
  width: 19px;
  height: 19px;
  max-height: 19px;
  margin: 3px;
  background-color: white;
  border: none;
  border-radius: 0;
  opacity: .5;
  transition: all .3s;
}
.cid-rZwQujG7QA .mbr-slider .carousel-indicators li.active,
.cid-rZwQujG7QA .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-rZwQujG7QA .mbr-slider .carousel-indicators li::after,
.cid-rZwQujG7QA .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rZwQujG7QA .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-rZwQujG7QA .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rZwQujG7QA .mbr-slider > .container img {
  width: 100%;
}
.cid-rZwQujG7QA .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rZwQujG7QA .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 767px) {
  .cid-rZwQujG7QA .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rZwQujG7QA .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rZwQujG7QA .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rZwQujG7QA .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rZwQujG7QA .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rZwQujG7QA .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-rZwQujG7QA .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rZwQujG7QA .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rZwQujG7QA .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rZwQujG7QA .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rZwQujG7QA .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rZwQujG7QA .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-rZwQujG7QA .carousel-inner {
  height: 100%;
}
.cid-rZwQujG7QA .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-rZwQujG7QA .image_wrapper {
  height: 700px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-rZwQujG7QA .image_wrapper img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.cid-rZwQujG7QA .carousel-item .container-slide {
  text-align: center;
}
.cid-rZwQujG7QA .content-slider-wrap {
  width: 100%;
}
.cid-rZwQujG7QA .carousel-control-prev {
  bottom: 2px!important;
  left: 0px!important;
  top: auto!important;
  margin-left: 2rem!important;
  background-color: white!important;
  opacity: 1!important;
  color: black!important;
  border-radius: 0!important;
}
.cid-rZwQujG7QA .carousel-control-next {
  bottom: 54px!important;
  left: 0px!important;
  top: auto!important;
  margin-left: 2rem!important;
  background-color: white!important;
  opacity: 1!important;
  color: black!important;
  border-radius: 0!important;
}
.cid-rZwQujG7QA .carousel-control {
  margin-left: 2px!important;
}
.cid-rArXEDZgZT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eee8df;
}
.cid-rArXEDZgZT img {
  width: 90%;
  object-fit: cover;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-rArXEDZgZT img {
    width: 100%;
  }
  .cid-rArXEDZgZT .pb-5 {
    padding-bottom: 1rem!important;
  }
}
.cid-rArXEDZgZT ol {
  padding: 0;
  margin: 0;
}
.cid-rArXEDZgZT li {
  padding-bottom: 1rem;
  line-height: 1.4;
}
.cid-rArXEDZgZT .counter-container2 ol {
  counter-reset: start 4;
}
.cid-rArXEDZgZT .counter-container2 li {
  display: block;
}
.cid-rArXEDZgZT .counter-container2 li:before {
  content: counter(start) ". ";
  counter-increment: start;
}
.cid-rArXEDZgZT .counter-container1 ol {
  counter-reset: start 0;
}
.cid-rArXEDZgZT .counter-container1 li {
  display: block;
}
.cid-rArXEDZgZT .counter-container1 li:before {
  content: counter(start) ". ";
  counter-increment: start;
}
.cid-rArXEDZgZT li:before {
  color: #b69b74;
}
.cid-rArXEqnXGf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f1eeea;
}
.cid-rArXEqnXGf .row {
  padding: 0 1rem;
  justify-content: center;
}
.cid-rArXEqnXGf .title {
  max-width: 800px;
  margin: auto;
}
.cid-rArXEqnXGf .text-wrap {
  padding: 0 1rem;
}
.cid-rArXEqnXGf .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rArXEqnXGf .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-rArXEqnXGf .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rArXEqnXGf .card-block:hover img {
  transform: scale(1.1);
}
.cid-rArXEqnXGf .card {
  padding: 0;
}
.cid-rArXEqnXGf .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rArXEqnXGf .card .card-block .photo {
  display: inline-block;
  margin-bottom: 1.4rem;
  overflow: hidden;
}
.cid-rArXEqnXGf .card .card-block .photo img {
  width: 100%;
  min-width: 100%;
  height: 320px;
  object-fit: cover;
  min-height: 100%;
  transition: all 0.3s;
}
.cid-rArXEqnXGf H4 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-rArXEqnXGf .md-pb {
    margin-bottom: 2rem!important;
  }
}
.cid-rArXEWGRct {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #f1eeea;
}
.cid-rArXEWGRct .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
  padding-top: 8rem;
}
.cid-rArXEWGRct .carousel-item.active,
.cid-rArXEWGRct .carousel-item-next,
.cid-rArXEWGRct .carousel-item-prev {
  display: flex;
}
.cid-rArXEWGRct h2 {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  width: fit-content;
  right: 50%;
  top: -8rem;
  transform: translateX(-50%);
  opacity: 0.1;
}
.cid-rArXEWGRct .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rArXEWGRct .carousel-controls a span {
  position: absolute;
  top: 120px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  background: #b69b74;
  opacity: .3;
  transition: all 0.3s;
}
.cid-rArXEWGRct .carousel-controls a:hover span {
  opacity: 0.4;
}
.cid-rArXEWGRct H2 {
  color: #073b4c;
}
.cid-rArXEWGRct .title {
  color: #343434;
}
.cid-rArXEWGRct .user_text {
  color: #767676;
}
.cid-rArXFAByJ1 {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #656b50;
}
.cid-rArXFAByJ1 .mbr-iconfont {
  font-family: 'Moririse2' !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  padding: 0!important;
  font-size: 1.4rem!important;
  color: #b69b74;
}
.cid-rArXFAByJ1 .p-4 {
  padding: 1rem 0!important;
}
.cid-rArXFAByJ1 .content {
  max-width: 650px;
}
.cid-rArXFAByJ1 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 3rem;
  box-shadow: 2.5px 4.3px 29px 0 rgba(0, 0, 0, 0.18);
}
.cid-rArXFAByJ1 .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-rArXFAByJ1 .mbri-arrow-down:before {
  content: "\e960";
}
.cid-rArXFAByJ1 .mbri-arrow-up:before {
  content: "\e960";
}
.cid-rArXFAByJ1 .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-rArXFAByJ1 h4 {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.cid-rArXFAByJ1 .card {
  border-radius: 0px;
}
.cid-rArXFAByJ1 .card .card-header {
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  border-bottom: 2px solid #b69b74;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title h4 {
  padding: 1.2rem 0rem;
  margin-bottom: 0;
}
.cid-rArXFAByJ1 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
@media (max-width: 992px) {
  .cid-rArXFAByJ1 img {
    width: 100%;
  }
  .cid-rArXFAByJ1 .content {
    max-width: 100%;
  }
}
.cid-rArXFAByJ1 H4 {
  color: #ffffff;
}
.cid-rArXFAByJ1 .panel-text {
  color: #ffffff;
}
.cid-rArXFNF7KR {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f1eeea;
}
.cid-rArXFNF7KR img {
  width: 90%;
}
@media (max-width: 992px) {
  .cid-rArXFNF7KR img {
    width: 100%;
  }
  .cid-rArXFNF7KR .pb-5 {
    padding-bottom: 1rem!important;
  }
}
.cid-rArXFNF7KR ul {
  padding-left: 2rem;
  margin-bottom: 0;
}
.cid-rArXFNF7KR ul li {
  margin-bottom: 0.4rem;
  list-style: none;
}
.cid-rArXFNF7KR ul li:before {
  position: absolute;
  left: 6px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 10px 14px;
  line-height: 20px;
  transition: all .2s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b69b74;
}
.cid-rArXFY2Iib {
  padding-top: 600px;
  background-image: url("../../../assets/images/419821-306393136080707-79862796-n-720x540.jpeg");
}
.cid-rArXGv16AW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f1eeea;
}
@media (max-width: 767px) {
  .cid-rArXGv16AW .content {
    text-align: center;
  }
  .cid-rArXGv16AW .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rArXGv16AW .google-map {
  height: 25rem;
  width: 90%;
  position: relative;
  box-shadow: 2.5px 4.3px 29px 0 rgba(0, 0, 0, 0.18);
}
.cid-rArXGv16AW .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rArXGv16AW .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rArXGv16AW .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rArXGv16AW .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 992px) {
  .cid-rArXGv16AW .google-map {
    width: 100%;
  }
}
.cid-rZwO4KESGe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rZwO4KESGe *:focus {
  outline: none;
}
.cid-rZwO4KESGe .form-control {
  width: 100%;
  min-height: auto;
  color: #232323 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #232323;
  box-shadow: none;
}
.cid-rZwO4KESGe .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-rZwO4KESGe input::-webkit-input-placeholder {
  color: #232323;
}
.cid-rZwO4KESGe input::-moz-placeholder {
  color: #232323;
}
.cid-rZwO4KESGe textarea::-webkit-input-placeholder {
  color: #232323;
}
.cid-rZwO4KESGe textarea::-moz-placeholder {
  color: #232323;
}
.cid-rZwO4KESGe .soc-item {
  margin: 0 .1rem .2rem .1rem;
  display: inline-flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border: 1px solid #66458e;
  border-radius: 50%;
}
.cid-rZwO4KESGe .soc-item:hover {
  opacity: .5;
}
.cid-rZwO4KESGe .soc-item .socicon {
  font-size: 1.5rem;
  color: #66458e;
}
.cid-rZwO4KESGe .days-column,
.cid-rZwO4KESGe .hours-column {
  display: inline-block;
}
.cid-rZwO4KESGe .days-column span,
.cid-rZwO4KESGe .hours-column span {
  display: block;
}
.cid-rZwO4KESGe .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-rZwO4KESGe .days-column {
    padding-right: 0 !important;
  }
  .cid-rZwO4KESGe .hours-column {
    max-width: 50% !important;
  }
  .cid-rZwO4KESGe .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rZwO4KESGe .follow-title,
.cid-rZwO4KESGe .social-list {
  text-align: center;
}
.cid-rArXHg1PU8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #211c1c;
}
.cid-rArXHg1PU8 .media-container-row .mbr-text {
  color: #767676;
}
